.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: #FFFFFF;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.header--hidden {
    transform: translateY(-100%);
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    max-width: 1800px;
    margin: 0 auto;
    height: 70px;
    padding: 0 20px;
    flex-wrap: wrap; /* чтобы элементы переносились */
}

.header-link {
    display: flex;
    text-decoration: none;
    gap: 10px;
    margin-top: 15px;
    color: var(--fr-primary-color);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 17px;
    font-weight: 800 !important;
}

.header-headings {
    display: flex;
    flex-direction: column;
}

.header-headings h1 {
    color: var(--fr-primary-color);
    margin: unset;
    font-size: clamp(1.2rem, 2vw, 1.8rem);
}

.header-headings h3 {
    margin: unset;
    text-align: end;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-size: 14px;
}

.header-nav {
    display: flex;
    gap: 25px;
    flex-wrap: wrap; /* перенос ссылок */
}

.header-nav__icon {
    width: 20px;
    height: 20px;
}

/* --- Планшеты --- */
@media screen and (max-width: 1024px) {
    .header-wrapper {
        justify-content: center;
        gap: 20px;
        height: auto;
        padding: 10px 15px;
    }

    .header-link {
        font-size: 15px;
        margin-top: 5px;
    }

    .header-headings {
        align-items: center;
        width: 100%;
    }

    .header-headings h1 {
        font-size: 40px;
    }

    .header-headings h3 {
        font-size: 12px;
        text-align: center;
    }

    .header-nav {
        justify-content: center;
        width: 100%;
        gap: 15px;
    }

    .nav-icons {
        justify-content: center;
        gap: 15px;
    }

    .header-nav__icon {
        width: 18px;
        height: 18px;
    }
}

/* --- Смартфоны --- */
@media screen and (max-width: 600px) {
    .header-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .header-nav {
        flex-direction: row; /* ссылки в ряд */
        flex-wrap: wrap;     /* переносятся если не влезают */
        gap: 10px;
        justify-content: center;
    }

    .header-link {
        font-size: 14px;
    }

    .header-headings h1 {
        font-size: 30px;
    }

    .header-nav__icon {
        width: 16px;
        height: 16px;
    }
}
