.swiper-wrapper{
    transition-timing-function : linear;
}
.custom-swiper {
    position: relative;
}
.banner {
    font-weight: var(--fr-text-weight);
}
.banner-image {
    position: relative;
    width: 100vw !important;
}
.banner-image img {
    width: 100%;
    height: auto;
}
.banner-slogan {
    position: absolute;
    top: 40%;
    left: 11%;
    z-index: 10;
    width: 600px;
}
.banner-slogan__content p {
    font-size: 30px;
    color: #FFFFFF;
}