.footer {
    background-color: #000;
    height: 300px;
    color: #FFFFFF;
}
.footer-wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer-resources {
    display: flex;
    width: 300px;
}
.footer-resources__list, .footer-company__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-wrapper ul .footer-resources__item {
    list-style-type: none;
}
.footer-resources__item {
    text-transform: capitalize;
    font-family: Comfortaa, "Times New Roman", serif;
    cursor: pointer;
}
.footer-company__item {
    list-style-type: none;
    cursor: pointer;
}