.sign-up-page {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}
.sign-up__title {
    padding-bottom: 25px;
}
.sign-up-form {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.sign-up-form p a {
    cursor: pointer;
}
.sign-up-form form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.sign-up-form input {
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.sign-up-form button {
    padding: 10px;
    background: #4f46e5;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}
.sign-up-form button:hover {
    background: #4338ca !important;
}

.sign-up-form button:hover {
    background: #005bb5;
}
.sign-up-form a {
    color: #0070f3;
    text-decoration: none;
    font-weight: 500;
}
.sign-up-form p {
    padding-top: 15px;
}
.sign-up-form a:hover {
    text-decoration: none;
}
.error__message {
    color: red;
    font-size: 13px;
}