.headerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    max-width: 1500px;
    margin: 0 auto;
    height: 100px;
    padding-bottom: 15px;
}
.headerLink {
    display: flex;
    text-decoration: none;
    gap: 10px;
    margin-top: 15px;
    color: var(--fr-primary-color);
    font-family: var(--fr-font-family);
    font-size: var(--fr-font-size-secondary);
    text-transform: uppercase;
}
.headerNav .headerLink {
    font-weight: 600;
    font-size: 20px;
}
.headerHeadings {
    display: flex;
    flex-direction: column;
}
.headerHeadings h1 {
    color: var(--fr-primary-color);
    margin: unset;
}
.headerHeadings h3 {
    margin: unset;
    text-align: end;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-size: 14px;
}
.headerInput__form input {
    border: 1px solid grey;
    border-radius: 40px;
    padding: 10px;
    width: 350px;
    height: 25px;
}
.headerInput__form input:focus-visible {
    outline: none;
}
.headerInput__form {
    position: relative;
}
.headerInput_icon {
    position: absolute;
    right: 3px;
    background: #c4cfdf;
    border-radius: 40px;
    top: 3px;
    padding: 4px;
}
.headerNav {
    display: flex;
    gap: 25px;
}
.headerNav__icon {
    width: 20px;
    height: 20px;
}
