.wishlists {
    background: #000;
    border: 1px solid #FFFFFF;
    width: 116px;
    position: fixed;
    top: 50%;
    right: -40px;
    z-index: 10;
    transform: rotate(90deg);
    border-radius: 0 0 22px 22px;
    display: flex;
    justify-content: center;
}
.wishlist-drawer__btn.hidden {
    display: none;
}
.wishlist-drawer__btn {
    color: #FFFFFF !important;
}