.products-wrapper {
    max-width: 1800px;
    margin: 0 auto;
    padding-top: 50px;
}

.products-heading {
    display: flex;
    justify-content: space-between;
}

.products-wrapper .products-heading__title {
    color: var(--fr-primary-color);
    font-size: 55px;
    text-transform: uppercase;
    font-weight: var(--fr-text-weight);
    cursor: text;
}

.products-wrapper .products-heading__btn {
    color: rgb(193, 80, 69);
    border: unset;
    cursor: pointer;
    user-select: none;
    background: unset;
}

.products-wrapper span {
    color: var(--fr-primary-color);
}

.products-list {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.products-list__item {
    list-style-type: none;
}